{{/*
Provides an element that shows all terms assigned to a page in a taxonomy.

The context should be a dictionary with these key-value pairs:
- page: The page whose taxonomy is to be displayed
- taxonomy: The name of the taxonomy to show in the element
- iconClass: The class for the icon shown for the taxonomy
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}
{{- $iconClass := .iconClass }}

{{- if index $page.Params $taxonomy }}
{{- $taxonomyPage := urlize $taxonomy | site.GetPage }}
{{- $scratch := newScratch }}
{{- range $taxonomyPage.Data.Terms }}
{{- $scratch.SetInMap "taxonomyHomes" .Page.Title .Page.RelPermalink }}
{{- end }}

<p class="page__taxonomy">
    <strong>
        <i class="{{ $iconClass }}" aria-hidden="true"></i>
        {{ $taxonomyPage.Title }}{{ i18n "punctuationColon" | safeHTML }}
    </strong>
    <span itemprop="keywords">
        {{- range $i, $term := index $page.Params $taxonomy }}
        {{- if gt $i 0 -}}
            <span class="sep">
                {{- i18n "punctuationCommaInList" | safeHTML -}}
            </span>
        {{- end }}
        <a href="{{ index ($scratch.Get "taxonomyHomes") $term }}"
           class="page__taxonomy-item p-category" rel="tag">{{ $term }}</a>
        {{- end }}
    </span>
</p>
{{- end }}
