{%- comment -%}

This file inserts an asciinema player
(https://github.com/asciinema/asciinema-player/blob/master/README.md) that
plays the specified asciinema recording file.

It takes a 'name' argument for the relative path of the recording file to the
resource path for the current page.

Note: To add asciinema players to a page, the stylesheet and JavaScript file
for asciinema player must have been added to the page's HTML document. This can
be done by adding the line 'asciinema-player: true' to the page's front matter.

In addition to the 'name' parameter, the following 'include' parameters are
honored by this file:
- poster: the preview of the recording shown in the player. For more
  information about ways to specify the poster, see
  (https://github.com/asciinema/asciinema-player/blob/master/README.md#poster).
  Defaults to 'npt:0'.
- theme: the color theme applied to the recording, defaults to 'tango'
- font_size: the size of font shown in the player, defaults to 'small'
- speed: the playback speed of the recording, defaults to 1
- start_at: the starting point of the playback in the player, defaults to 0

More information about the values accepted by each parameter can be found in
(https://github.com/asciinema/asciinema-player/blob/master/README.md#asciinema-player-element-attributes).

{%- endcomment -%}

{%- unless res_path -%}
{%- include res-path.liquid -%}
{%- endunless -%}

<p><asciinema-player
    src="{{ res_path }}/{{ include.name }}"
    poster="{{ include.poster | default: 'npt:0' }}"
    theme="{{ include.theme | default: 'tango' }}"
    font-size="{{ include.font_size | default: 'small' }}"
    speed="{{ include.speed | default: 1 }}"
    start-at="{{ include.start_at | default: 0 }}"
></asciinema-player></p>
