<div id="header">
    <a id="home-link" href="/">{{ site.title[site.active_lang] }}</a>

    <span id="lang-switcher">
        {% for lang in site.languages %}
            {% assign lang_name = site.data.lang_keys[lang] %}
            {% if lang == site.active_lang %}
                <span class="lang-option-active">{{ lang_name }}</span>
            {% else %}
                {% capture url %}{% if lang == site.default_lang %} {{ page.url }} {% else %} /{{ lang }}{{ page.url }} {% endif %}{% endcapture %}
                <a class="lang-option-inactive" href="{{ url }}">{{ lang_name }}</a>
            {% endif %}
        {% endfor %}
    </span>
</div>

