<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.asciinema-player %}
  <link rel="stylesheet"
      href="{{ "/assets/css/asciinema-player.css" | relative_url }}">
  <script type="text/javascript"
      src="{{ "/assets/js/asciinema-player.js" | relative_url }}"></script>
  {%- endif -%}
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <title>{{ page.title }} - {{ site.data.l10n.title }}</title>
</head>
