<ul class="floating-menu lang-switcher hidden">
    {%- for lang in site.languages -%}
        {%- assign lang_name = site.data[lang].l10n.lang_name -%}
        {% if lang == site.active_lang %}
    <li class="lang-option-active masthead__menu-item">{{ lang_name }}</span>
        {% else %}
            {% capture url %} {% if lang == site.default_lang %}{{ page.url }}{% else %}/{{ lang }}{{ page.url }}{% endif %} {%- endcapture -%}
    <li class="lang-option-inactive masthead__menu-item"><a href="{{ url }}">{{ lang_name }}</a></li>
        {% endif %}
    {%- endfor -%}
</div>
