@import "minima";

$header-background-color: #242424 !default;
$syntax-highlight-color: #dbedff !default;

#no-posts-msg {
    color: $grey-color;
}

.collection-nav-footer {
    margin-bottom: 0;
    @extend %clearfix;

    a {
        float: right;
    }
}

.collection-nav-header {
    a {
        float: left;
    }

    span {
        @extend %clearfix;
    }
}

.footer-col img {
    display: block;
}

.highlight {
    .highlighter-rouge & {
        background: $syntax-highlight-color;
        border-radius: 3px;
    }
}

.home > h2 {
    @include relative-font-size(1.75);
}

.img-caption {
    font-size: $small-font-size;
}

.lang-option-active {
    font-weight: bold;
}

.message-box {
    background-color: #fee;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-content img {
    display: block;
    max-height: 300px;
    margin-top: $spacing-unit / 2;
    margin-bottom: $spacing-unit / 2;
    margin-left: auto;
    margin-right: auto;
}

.site-header {
    background: $header-background-color;
    border-top: 5px solid $grey-color;
    border-bottom: 0px solid;
}

.site-nav {
    background: $header-background-color;

    .menu-icon {
        background: $header-background-color;
        border-radius: 5px;

        > svg {
            fill: $grey-color;
        }
    }

    .page-link {
        color: $grey-color-light;
    }

    @include media-query($on-palm) {
        border: 1px solid $grey-color-dark;
    }
}

.site-title {
    &, &:visited {
        color: $grey-color-light;
    }
}

hr {
    margin-bottom: $spacing-unit / 2;
}

p.collection-nav a {
    display: block;
}

pre, code {
    background-color: $syntax-highlight-color;
    font-size: 0.9375em;
    line-height: 1.25;
}

pre > code {
    font-size: $small-font-size;
}
