#no-posts-msg {
    color: $grey-color;
}

.lang-option-active {
    font-weight: bold;
}

.lang-option-inactive {
    line-height: 1.5;
    &, &:visited {
        color: $text-color;
    }
}

.message-box {
    margin-bottom: $spacing-unit;
    outline-color: lighten($grey-color, 30%);
    outline-style: solid;
    outline-width: thin;
    text-align: center;
}

img {
    display: block;
    max-height: 300px;
    margin-top: $spacing-unit / 2;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
}
