{{- define "layout" -}}
archive
{{- end -}}

{{- define "main" }}
{{- partial "breadcrumbs.html" . }}
<div id="main" role="main">
    <div class="archive">
        <h1 id="page-title" class="page__title">{{ .Title }}</h1>
        <section class="page__content e-content" itemprop="text">
            {{ .Content }}
        </section>

        {{- $entriesLayout := .Param "entries_layout" | default "list" }}
        <div class="entries-{{ $entriesLayout }}">
            {{- range .Pages }}
            {{- partial "archive-single.html"
                (dict "page" . "type" $entriesLayout) }}
            {{- end }}
        </div>
    </div>
</div>
{{- end }}
