{{/*
Provides an element that can be used as a page's entry in an archive.

The context should be a dictionary with these key-value pairs:
- page: The page whose entry is to be created
- type: The type of the archive's layout ("grid", "list", etc.); optional --
  defaults to "list"
*/}}

{{- $page := .page }}
{{- $type := index . "type" | default "list" }}

{{- $teaser := $page.Params.header.teaser | default site.Params.teaser }}

<div class="{{ $type }}__item">
    <article class="archive__item"
             itemscope itemtype="https://schema.org/CreativeWork">
        {{- if and (eq $type "grid") (ne $teaser nil) }}
        <div class="archive__item-teaser">
            <img src="{{ relURL $teaser }}" alt="">
        </div>
        {{- end }}

        <h3 class="archive__item-title no_toc" itemprop="headline">
            <a href="{{ $page.RelPermalink }}" rel="permalink">
                {{- markdownify $page.Title -}}
            </a>
        </h3>

        {{- partial "page__meta.html" (dict "page" $page "type" $type) }}

        {{- with $page.Description }}
        <p class="archive__item-excerpt" itemprop="description">
            {{ . }}
        </p>
        {{- end }}
        {{- if $page.Summary }}
        <p class="archive__item-excerpt"
           {{- if not $page.Description }} itemprop="description"{{ end }}>
            {{- partial "GetHumanizedSummary.html" $page }}
        </p>
        {{- end }}
    </article>
</div>
