<script src="https://cdn.jsdelivr.net/npm/asciinema-player@3.6.3/dist/bundle/asciinema-player.min.js" integrity="sha256-tqRZPJ68i6kkGpODTmCvCeQWDAFLXuPkIi43GwwvPiM=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/asciinema-player@3.6.3/dist/bundle/asciinema-player.css" integrity="sha256-GMIhu5Hnb2yvE2Ap29EPBTncrR45rZV4dFJ67VY37oY=" crossorigin="anonymous">

{{- $style := resources.Get "sass/asciinema-player-custom.scss"
    | resources.ToCSS | resources.Minify | resources.Fingerprint
}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
