<script src="https://cdn.jsdelivr.net/npm/asciinema-player@3.0.1/dist/bundle/asciinema-player.min.js" integrity="sha256-AT31N+/6pRT8k66x8qFThDULawMcpaLIcjRjqNsfBzM=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/asciinema-player@3.0.1/dist/bundle/asciinema-player.css" integrity="sha256-kLCerzHQ+6j5CHSZcFHUDEnK44uhGUnA/nKTh3ut67M=" crossorigin="anonymous">

{{- $style := resources.Get "sass/asciinema-player-custom.scss"
    | resources.ToCSS | resources.Minify | resources.Fingerprint
}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
