<script src="https://cdn.jsdelivr.net/npm/asciinema-player@3.5.0/dist/bundle/asciinema-player.min.js" integrity="sha256-t+juVyk+MYdZtJuaxz48t7eZdD1lIeWpaNYSF4y/APs=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/asciinema-player@3.5.0/dist/bundle/asciinema-player.css" integrity="sha256-Pi2U+O1PHsFgjF/iXeWgek8WpXCffg6xhkz0i5/34fU=" crossorigin="anonymous">

{{- $style := resources.Get "sass/asciinema-player-custom.scss"
    | resources.ToCSS | resources.Minify | resources.Fingerprint
}}
<link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
