<nav class="breadcrumbs">
    <ol itemscope itemtype="https://schema.org/BreadcrumbList">
        {{- range .Ancestors.Reverse }}
            {{- /* Do not add "Collections" or "Posts" to the breadcrumb */}}
            {{- if not (and
                (and .Parent .Parent.IsHome)
                (.Section | in (slice "collections" "posts"))
            )}}

            {{- $titleSupplierPage := . }}

            {{- /*
            The landing page of a headless section does not necessarily have a
            title, and in this case, the headless section's parent page defines
            the section's title.  To use the '.GetPage' function to get the
            parent page instead of the headless section's landing page, just
            append a dot to the argument, which works for any file extension.
            */}}
            {{- if eq (len .Title) 0 }}
                {{- with .File }}
                    {{- $titleSupplierPage = ((path.Split .Path).Dir
                        | strings.TrimSuffix "/" | printf "%s."
                        | $.Site.GetPage) }}
                {{- end }}
            {{- end }}

            {{- partial "breadcrumbs-item.html" $titleSupplierPage }}
            <span class="sep" aria-hidden="true">/</span>

            {{- end }}
        {{- end }}
        <li class="current" aria-current="page">{{ markdownify .Title }}</li>
    </ol>
</nav>

{{- define "partials/breadcrumbs-item.html" }}
<li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
    <a href="{{ .RelPermalink }}" itemprop="item">
        <span itemprop="name">{{ markdownify .Title }}</span>
    </a>
</li>
{{- end }}
