{{/*
Provides an element for metadata of the current page in the context, like its
date and reading time.

By default, a page's date will be shown if and only if it is under the "posts"
section.  This can be overridden with the `show_date` boolean variable in the
page's front matter.

By default, a page's last modification date will be shown if the date will not
be shown or the last modification date is different from the date.  This can be
overridden with the `show_lastmod` boolean variable in the page's front matter.

By default, the reading time will always be shown.  This can be overridden with
the `show_reading_time` boolean variable in the page's front matter.

Recognized parameters in .Scratch:
- page: The object for the page
- type: The type of the post list ("grid", "list", etc.); optional
*/}}

{{- $type := .Scratch.Get "type" }}

{{- $dateFormat := ":date_medium" }}

{{- $showDate := .Params.show_date
    | default (eq .Section "posts") }}
{{- /* Compare only the date part between .Date and .Lastmod; ignore time */}}
{{- $showLastmod := .Params.show_lastmod
    | default (or (not $showDate)
        (ne (.Date.Format "2006-01-02") (.Lastmod.Format "2006-01-02"))) }}
{{- $showReadingTime := .Params.show_reading_time
    | default true }}

<p class="page__meta">
    {{- if $showDate }}
    <span class="page__meta-date">
        <i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i>
        <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- time.Format $dateFormat .Date -}}
        </time>
    </span>
    {{- end }}

    {{- if $showLastmod }}
    {{- if $showDate }}
    <span class="page__meta-sep" aria-hidden="true"></span>
    {{- end }}
    <span class="page__meta-date">
        <i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>
        {{ i18n "updated" }}
        <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- time.Format $dateFormat .Lastmod -}}
        </time>
    </span>
    {{- end }}

    {{- if $showReadingTime }}
    {{- if or $showDate $showLastmod }}
    <span class="page__meta-sep" aria-hidden="true"></span>
    {{- end }}
    <span class="page__meta-readtime">
        <i class="{{ cond
            (and (eq $type "grid") (or $showDate $showLastmod))
             "fa-fw " "" }}far fa-clock" aria-hidden="true"></i>
        {{ i18n "readingTime" .ReadingTime }}
    </span>
    {{- end }}
</p>
