{{- $titleParts := slice }}

{{- with .Title }}
{{- $titleParts = $titleParts
    | append (. | markdownify | plainify | htmlUnescape) }}
{{- end }}

{{- /*
If the current page is in a collection and is not the collection's landing
page, then include the collection's title in the page title
*/}}
{{- $collection := partial "GetCollection.html" . }}
{{- if (and $collection (eq .Kind "page")) }}
{{- $titleParts = $titleParts
    | append ($collection.Title | markdownify | plainify | htmlUnescape) }}
{{- end }}

{{- $titleDelimiter := " - " }}
{{- $ogTitle := delimit $titleParts $titleDelimiter }}
{{- $seoTitle := delimit ($titleParts | append .Site.Title) $titleDelimiter }}

{{- $canonicalURL := .Permalink }}

{{- $ogType := cond (or (eq .Kind "page") (eq .Kind "section"))
    "article" "website" }}

{{- $seoDescription := .Description
    | default (printf "%s%s" .Summary (cond .Truncated
        (printf " %s" (i18n "punctuationEllipsis" | htmlUnescape))
        ""
    ))
    | markdownify | plainify | htmlUnescape }}

{{- $header := .Params.header }}
{{- $pageLargeImage := $header.og_image
    | default $header.overlay_image
    | default $header.image }}
{{- $pageTeaserImage := $header.teaser
    | default .Site.Params.og_image
    | default .Site.Params.teaser }}

<title>{{ $seoTitle }}</title>
{{- if $seoDescription }}
<meta name="description" content="{{- $seoDescription -}}">
{{- end }}

<meta property="og:type" content="{{ $ogType }}">
<meta property="og:locale" content="{{ replace .Language.Lang "-" "_" }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $ogTitle
    | default (.Site.Title | markdownify | plainify | htmlUnescape) }}">
<meta property="og:url" content="{{ $canonicalURL }}">
{{- if $pageLargeImage }}
<meta property="og:image" content="{{ absURL $pageLargeImage }}">
{{- else if $pageTeaserImage }}
<meta property="og:image" content="{{ absURL $pageTeaserImage }}">
{{- end }}
