<!DOCTYPE html>
<html lang="{{ page.lang | default: site.active_lang | default: "en" }}">

    {%- include head.html -%}

    <body>

        {%- include header.html -%}

        <main class="page-content" aria-label="Content">
            <div class="wrapper">
                {%- if page.lang != site.active_lang -%}
                    {%- include no-translation.html -%}
                {%- endif -%}
                {{ content }}
            </div>
        </main>

        {%- include footer.html -%}

    </body>

</html>
