---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.active_lang].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign l10n_posts = posts | where: "lang", site.active_lang %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in l10n_posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% if paginator and l10n_posts != posts %}
<div class="untranslated-posts-hidden-msg">
  {{ site.data.strings.untranslated_posts_hidden | default: "Untranslated posts are hidden" }}
</div>
{% endif %}

{% include paginator.html %}

{%- comment -%} patched-theme-file {%- endcomment -%}
