---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.active_lang].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.lang == site.active_lang %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}

{%- comment -%} patched-theme-file {%- endcomment -%}
