---
layout: default
---

<div class="home">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {%- for post in site.posts -%}
            {%- if post.lang == site.active_lang -%}
            <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endif -%}
        {%- endfor -%}
    </ul>

    {%- else -%}
    <div id="no-posts-msg">{{ site.data.i18n["no_posts"][site.active_lang] }}</div>
    {%- endif -%}

</div>
